<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
      </head>
<body>
    <main>
        <h1>
            <%= movie.title %>
        </h1>
    </main>
</body>
</html>