<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main class="index">
      <a href="/spiderman/tom-holland">
        <img src="/images/tom.png" alt="Tom Holland as Spider-Man pointing to the other Spider-Man's Tobey Maguire and Andrew Garfield">
      </a>
      <a href="/spiderman/andrew-garfield">
        <img src="/images/andrew.png" alt="Andrew Garfield as Spider-Man pointing to the other Spider-Man's Tobey Maguire and Tom Holland">
      </a>
      <a href="/spiderman/tobey-maguire">
        <img src="/images/tobey.png" alt="Tobey Maguire as Spider-Man pointing to the other Spider-Man's Tom Holland and Andrew Garfield">
      </a>
    </main>
  </body>
</html>
