@import 'index.css';
@import 'spider-details.css';
@import 'movie-details.css';

:root{
    --background-color: #202020;
    --text-color: rgb(239, 239, 239);
    --primary-color: #e62429;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

a{
    color: inherit;
    text-decoration: none;

    :visited{
        color: inherit;
    }
}

ul{
    list-style: none;
}

main{
    display: flex;
    height: 100vh;
}

h2{
    margin-bottom: .5rem;
}
h3{
    font-size: 1rem;
}

footer{
    padding: 2rem;
}

.poster{
    max-height: 50vw;
}