.web {
  &#tom {
    --tom-red: #ca0014;
    --tom-dark: #0b0b0b;
    --tom-light: #2f2f2f;
    --tom-accent: #bbbbbb;

    background: linear-gradient(
      to right top,
      var(--tom-dark) 25%,
      var(--tom-light) 100%
    );

    & svg {
      fill: var(--tom-accent);
    }
  }

  &#andrew {
    --andrew-red: #c91f2d;
    --andrew-dark: #051134;
    --andrew-light: #267bc2;
    --andrew-accent: #c2c6cd;

    background: linear-gradient(
      to right top,
      var(--andrew-dark) 25%,
      var(--andrew-light) 100%
    );

    & svg {
      fill: var(--andrew-accent);
    }
  }

  &#tobey {
    --tobey-dark: #040809;
    --tobey-light: #566988;
    --tobey-red: #d73d3e;
    --tobey-accent: #aaa8a6;

    background: linear-gradient(
      to right top,
      var(--tobey-dark) 25%,
      var(--tobey-light) 100%
    );

    & svg {
      fill: var(--tobey-accent);
    }
  }

  main {
    display: grid;
    grid-template-columns: 40vw 60vw;
    position: relative;
  }

  section {
    padding: 2rem;
    padding-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    /* left grid */
    &:first-of-type {
      justify-content: space-between;
    }

    /* right grid */
    &:last-of-type {
      padding: 20vh 2rem;

      .movie-container {
        position: relative;
        height: 100%;
        transform-origin: center center;
      }

      /* posters */
      & ul img {
        width: 8vw;
        width: clamp(2rem, 8vw, 10rem);
        clip-path: circle();
        display: block;
      }

      & ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .movie {
        position: absolute;

        a {
          display: block;

          :active{
            cursor: grabbing;
          }
        }
      }
    }
  }

  /* web svg */
  #background-web {
    position: absolute;
    top: 0;
    grid-area: 1 / 1;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    mix-blend-mode: color-dodge;
    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
