.web {

  &#tom {
    --tom-red: #ca0014;
    --tom-dark: #0B0B0B;
    --tom-light: #2f2f2f;
    --tom-accent: #BBBBBB;

    background: linear-gradient(to right top, var(--tom-dark) 25%, var(--tom-light) 100%);

    & svg {
        fill: var(--tom-accent);
      }
  }

  &#andrew {
    --andrew-red: #c91f2d;
    --andrew-dark: #051134;
    --andrew-light: #267bc2;
    --andrew-accent: #C2C6CD;

    background: linear-gradient(to right top, var(--andrew-dark) 25%, var(--andrew-light) 100%);


    & svg {
        fill: var(--andrew-accent);
      }
  }

  &#tobey {
    --tobey-dark: #040809;
    --tobey-light: #566988;
    --tobey-red: #D73D3E;
    --tobey-accent: #AAA8A6;

    background: linear-gradient(to right top, var(--tobey-dark) 25%, var(--tobey-light) 100%);


    & svg {
        fill: var(--tobey-accent);
      }
  }

  main {
    display: grid;
    grid-template-columns: 40vw 60vw;
    position: relative;
  }

  section {
    padding: 2rem;
    padding-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      justify-content: space-between;
    }

    &:last-of-type {
      align-items: center;
      justify-content: center;
    }
  }

  div {
    position: absolute;
    top: 0;
    grid-area: 1 / 1;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    mix-blend-mode: color-dodge;

    & svg {
        height: 100%;
      }
  }
}
