.web {

  &#tom {
    --tom-red: #ca0014;
    --tom-dark: #0B0B0B;
    --tom-light: #2f2f2f;
    --tom-accent: #BBBBBB;

    background: linear-gradient(to right top, var(--tom-dark) 25%, var(--tom-light) 100%);

    & svg {
        fill: var(--tom-accent);
      }
  }

  &#andrew {
    --andrew-red: #c91f2d;
    --andrew-dark: #051134;
    --andrew-light: #267bc2;
    --andrew-accent: #C2C6CD;

    background: linear-gradient(to right top, var(--andrew-dark) 25%, var(--andrew-light) 100%);


    & svg {
        fill: var(--andrew-accent);
      }
  }

  &#tobey {
    --tobey-dark: #040809;
    --tobey-light: #566988;
    --tobey-red: #D73D3E;
    --tobey-accent: #AAA8A6;

    background: linear-gradient(to right top, var(--tobey-dark) 25%, var(--tobey-light) 100%);


    & svg {
        fill: var(--tobey-accent);
      }
  }

  main {
    display: grid;
    grid-template-columns: 40vw 60vw;
    position: relative;
  }

  section {
    padding: 2rem;
    padding-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      justify-content: space-between;
    }

    &:last-of-type {
      position: relative;

      & ul img{
        max-width: clamp(2rem, 10vw, 10rem);
        clip-path: circle();
      }

      li{
        position: absolute;

        &:nth-child(1) {
          top: 5rem;
          left: 5rem;
        }

        &:nth-child(2) {
          top: 8rem;
          right: 8rem;
        }

        &:nth-child(3) {
          bottom: 22rem;
          right: 25rem;
        }

        &:nth-child(4) {
          bottom: 10rem;
          left: 6rem;
        }

        &:nth-child(5) {
          bottom: 15rem;
          left: 18rem;
        }

        &:nth-child(6) {
          top: 8rem;
          left: 14rem;
        }

        &:nth-child(7) {
          top: 20rem;
          right: 10rem;
        }
      }
    }
  }

  div {
    position: absolute;
    top: 0;
    grid-area: 1 / 1;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    mix-blend-mode: color-dodge;

    & svg {
        height: 100%;
      }
  }
}
